<app-header></app-header>
<app-sidebar></app-sidebar>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">EXAM Routine</a></li>
                <li class="breadcrumb-item active">View Exam Routine</li>
            </ol>
        </nav>
    </div>



    <section class="section">
        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="card">
                    <div class="card-body mt-3">


                        <div class="row">


                            <label class="col-form-label col-sm-2 pt-0"><b>Select Class</b></label>



                            <div class="col-sm-10">
                                <div class="form-check form-check-inline">
                                    <a href="#" (click)="loadRoutinesByClass('6')" style="font-weight: bold;">Class 6</a>

                                </div>

                                <div class="form-check form-check-inline">
                                    <a href="#" (click)="loadRoutinesByClass('7')" style="font-weight: bold;">Class 7</a>
                                </div>

                                <div class="form-check form-check-inline">
                                    <a href="#" (click)="loadRoutinesByClass('8')" style="font-weight: bold;">Class 8</a>
                                </div>
                                <div class="form-check form-check-inline">
                                    <a href="#" (click)="loadRoutinesByClass('9')" style="font-weight: bold;">Class 9</a>
                                </div>

                                <div class="form-check form-check-inline">
                                    <a href="#" (click)="loadRoutinesByClass('10')" style="font-weight: bold;">Class 10</a>
                                </div>

                            </div>

                        </div>
                        <!-- <div *ngIf="!studentData || studentData.length === 0">No data found</div> -->
                    </div>

                </div>

            </div>
        </div>
    </section>



    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">View Routines</h5>

              <!-- <table class="table datatable"> -->
              <table class="table table-striped">
                <thead>
                <tr>

                  <th>Routine Id</th>
                  <th>Exam Class</th>
                  <th>
                    Exam <b>T</b>ime
                  </th>
                  <th>First Exam</th> <!-- exdate1  -->
                  <th>Second Exam</th>
                  <th>Third Exam</th>
                  <th>Fourth Exam</th>
                  <th>Fifth Exam</th>
                  <th>Sixth Exam</th>
                  <th>Seventh Exam</th>
                  <!-- <th data-type="date" data-format="YYYY/DD/MM">Payment Date</th>

                  <th>Action</th> -->
                </tr>
                </thead>

                <tbody *ngFor="let exam of examRoutines">
                <tr>
                  <td>{{ exam.exid }}</td>
                  <td>{{ exam.exClass }}</td>
                  <td>{{ exam.exTime }}</td>
                  <td>{{exam.exdate1}} <br> {{ exam.exSubject1 }}</td>
                  <td>{{exam.exdate2}} <br>{{ exam.exSubject2 }}</td>
                  <td>{{exam.exdate3}} <br>{{ exam.exSubject3 }}</td>
                  <td>{{exam.exdate4}} <br> {{ exam.exSubject4 }}</td>
                  <td> {{exam.exdate5}} <br>{{ exam.exSubject5 }}</td>
                  <td> {{exam.exdate6}} <br>{{ exam.exSubject6 }}</td>
                  <td> {{exam.exdate7}} <br>{{ exam.exSubject7 }}</td>
                </tr>
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    <!-- </section> -->
  <!-- </main> -->























